body {
  background: #fcf4d9;
  border-radius: 16px;
  box-shadow: 2px 40px 60px rgba(65, 50, 100, 0.08);
  padding: auto;
  max-width: 800px;
  margin: 80px auto;
}
h1 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #113a5d;
}
h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #113a5d;
}
h3 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #541f1f;
}
h4 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #d34c26;
}
ul {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #719192;
  font-size: 20px;
  list-style: none;
}
footer {
  text-align: center;
  font-family: monospace;
}
button {
  color: white;
  background-color: yellow;
  float: left;
}
#icon {
  display: block;
  margin: 0 auto;
}
.units {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: #d34c26;
}
.weather-forecast {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.weather-forecast-date {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #668ba4;
}
.weather-forecast-temperature-max {
  color: #dc2f2f;
  font-size: 13px;
}
.weather-forecast-temperature-min {
  color: #53a8b6;
  font-size: 13px;
}
