body {
  background: #f0d4a2;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: auto;
  max-width: 800px;
  margin: 80px auto;
}
h1 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #113a5d;
}
h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #113a5d;
}
h3 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #541f1f;
}
h4 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #d34c26;
}
ul {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: #719192;
}
footer {
  text-align: center;
  font-family: monospace;
}
#icon {
  display: block;
  margin: 0 auto;
}
.units {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: #d34c26;
}
